@model Rootobject

@{
    ViewData["Title"] = "Books";
}

    <h1> @Html.DisplayFor(modelItem => Model.results.list_name) Top 15 List</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Rank Last Week
            </th>
            <th>
               Book Title
            </th>
            <th>
                Author
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.results.books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rank)
            </td>
            <td>
                @if (item.rank_last_week == 0)
                {
                    <text>New Entry</text>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.rank_last_week)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>

            
        </tr>
}
    </tbody>
</table>
